* {
    margin: 0;
}

#barraNavegacion {
    display: flex;
    align-items: center;
    background-color: #341404;
    margin-top: 0;
}

#barraNavegacion h4 {
    color: #f2cba6;
    margin-left: 75%;
}

#barraNavegacion img {
    margin-right: 20px;
    width: 9%;
    height: 9%;
}

#menu {
    text-align: center;
    background-color: #341404;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#menu ul {
    display: inline-block;
    list-style: none;
    margin-left: 5%;
}

#menu ul a {
    font-family: 'Chantelli Antiqua', sans-serif;
    text-decoration: none;
    color: #f2cba6;
}

a {
    text-decoration: none;
}

#menu input {
    background-color: #f2cba6;
    font-family: 'Chantelli Antiqua', sans-serif;
}

h2 {
    color: #df740f;
    font-family: 'Voga', sans-serif;
    text-align: center;
}

#taconOro {
    margin-left: 20%;
    background-color: white;
    margin-right: 20%;
    width: 60%;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-left: 20%;
}

#taconOro p{
    margin-top: 10%;
}

main {
    background-color: #e3e4e5;
}

#taconOro img {
    width: 400px;
    height: 300px;
    float: left;
}

#texto {
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-left: 9%;
    margin-top: 10%;
}

#imagen1 img,
#imagen2 img,
#imagen3 img,
#imagen4 img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#imagen1 h5,
#imagen2 h5,
#imagen3 h5,
#imagen4 h5 {
    text-align: center;
    font-family: 'Chantelli Antiqua', sans-serif;
}

#imagen1 p,
#imagen2 p,
#imagen3 p,
#imagen4 p {
    text-align: center;
    font-family: 'Chantelli Antiqua', sans-serif;
}

#imagen1 {
    text-align: center;
}

#imagen2 {
    text-align: center;
}

#imagen3 {
    text-align: center;
}

#imagen4 {
    text-align: center;
}

#parrafoProductos p {
    text-align: center;
}

#parrafoProductos {
    width: 40%;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-left: 27%;
    padding: 50px;
    background-color: white;
    font-family: 'Medio', sans-serif;
}

#descripcionPieles {
    display: flex;
}

#descripcionPieles img {
    width: 400px;
    height: 300px;
    float: right;
    margin-left: 37%;
}

#descripcionPieles p {
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-left: 30%;
    margin-top: 2%;
    width: 40%;
    background-color: white;
    padding: 10px;
}

#tela1 {
    text-align: center;
}

#tela2 {
    text-align: center;
}

#tela1 img,
#tela2 img,
#tela3 img,
#tela4 img {
    width: 100%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#tela1 h5,
#tela2 h5,
#tela3 h5,
#tela4 h5 {
    text-align: center;
    font-family: 'Chantelli Antiqua', sans-serif;
}

#tela3 {
    text-align: center;
}

#tela4 {
    text-align: center;
}

#tiendas {
    margin-left: 30%;
    justify-content: center;
    align-items: center;
    font-family: 'Chantelli Antiqua', sans-serif;
}

footer {
    background-color: #341404;
    color: #f2cba6;
    padding: 20px;
    font-family: 'Chantelli Antiqua', sans-serif;
}   

#redesSociales a {
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s;
}

#redesSociales img {
    width: 30px;
    height: 30px;
}

#tiendass {
    width: 30%;
    text-align: center;
    justify-content: center;
    display: inline-block;
    margin-left: 35%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-family: 'Medio', sans-serif;
}